body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

 .main{
        max-width: 800px;
        margin: auto;
        background-color: white;
    }

    .login-text{
        text-align: center;
        font-size: 28px;
        font-weight: bolder;
        margin: 50px 0;
    }

    #phone,#username, #password{
        display: block;
        border: none;
        padding: 10px 0;
        width: 300px;
        font-size: 16px;
        font-weight: 100;
        margin-left: 10px;
    }

    label{
        display: block;
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
    }

    form{
        width:300px;
        margin: auto;
    }

    #submit{
        border: none;
        width: 100%;
        padding: 10px;
        margin-top: 30px;
        font-size: large;
        border-radius: 5px;
        background-image: linear-gradient(180deg, #9dd5f7, #2279c4);
    }

    .login-button{
        border-radius: 5px;
        text-align: center;
        width: 160px;
        margin: auto;
        background-image: linear-gradient(180deg, #a2ffff, #2caf93);
                padding: 8px;
    }

    ::placeholder {
        color: rgb(177, 177, 177);
        opacity: 1; /* Firefox */
        font-weight: 100;
        font-size: 15px;
      }

      .bar{
        display: flex;
        align-items: center;
        border-bottom: 1px solid #9e9e9ea9;

      }

      .fa{
        color: #4a4a4a;
      }
    