body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

.main {
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #ff6347;
    color: white;
    border-radius: 10px;
}

.back-arrow {
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
}

.header-heading {
    font-size: 20px;
    font-weight: bold;
}

.bg-red {
    background-color: #ff6347;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.available-text,
.balance {
    font-size: 18px;
    font-weight: bold;
}

.bank-box {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.card-img {
    font-size: 30px;
    margin: 10px;
}

.bankcard-text {
    font-size: 16px;
    font-weight: bold;
}

.addbank-box {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 8px;
    width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
}

.plus-symbol {
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff6347;
    border-radius: 50%;
    margin: 10px auto;
    color: #ff6347;
    cursor: pointer;
}

.bankdetails-form label {
    display: block;
    width: 100%;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

.bankdetails-form input {
    display: block;
    width: 90%;
    margin: 5px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#save {
    background-color: #ff6347;
    color: white;
    width: 50%;
    margin: 20px auto;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
}

.bankdetails-container {
    display: none;
}

#widthdraw {
    display: block;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.withdraw-button {
    margin: 20px auto;
    width: 90%;
    padding: 15px;
    border-radius: 5px;
    background-color: #ff6347;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.withdraw-histry {
    padding: 20px 0;
}

.withdraw-history-heading {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table thead {
    background-color: #ff6347;
    color: white;
}

table thead th {
    padding: 10px;
    font-size: 14px;
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
}

.custom-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.custom-popup-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 10px;
}

.custom-gst-heading {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 16px;
}

.custom-input-container {
    /* margin: 10px 0; */
}

.custom-input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.custom-qr-img {
    width: 70%;
    margin: 15px 0;
}

.custom-submit-button,
.custom-close-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.custom-submit-button {
    background-color: #ff6347;
    color: white;
}

.custom-close-button {
    background-color: #ccc;
    color: #333;
}

.pay-gst-button {
    display: none;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ff6347;
    color: white;
    font-size: 16px;
    text-align: center;
   
    z-index: 1000;
    cursor: pointer;
}

@media (max-width: 600px) {
    .pay-gst-button {
        display: block;
    }
}
